body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: auto;
}

.col-3 {
    width: 25%;
}

.col-1-5 {
    width: 12.5%;
}

.col-6 {
    width: 50%;
}

.row {
    display: flex;
}

.question {
    background-color: #2C8E99;
    padding: 10px 0px;
}

.question__info p {
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 10px 0px;
    padding: 10px 0px;
}

.question__info .question__info__rgb {
    font-size: 50px;
}

.interactions {
    background-color: #fff;
}

.btn {
    color: #2C8E99;
    text-align: center;
    cursor: pointer;
    padding: 7px 0;
}

.btn:hover {
    background: #2C8E99;
    color: #fff;
}

.btn--easy {
    margin-right: 5px;
}

.answer {
    background: #232323;
    height: 700px;
}

.box {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    background: #2C8E99;
    cursor: pointer;
}

.answe__info {
    padding-top: 100px;
}

.btn--hard {
    background: #2C8E99;
    color: #fff;
}

.feedback {
    padding-top: 7px;
    text-align: center;
    color: #2C8E99;
}